*{
  margin: 0;
}

.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px ;
}

.app_infoBox{
  display: flex;
  justify-content: space-between;
}

body{
  background-color: antiquewhite;
}